@charset "UTF-8";

@media (max-width: 768px) {

    header {
        width: 100%;
        height: 95px;

        padding: 20px;
    }
    #nav {
        display: none;
    }

    #hamburguer-icon {
        display: block;
        cursor: pointer;
        z-index: 999;
    }

    #close-icon {
      display: none;
      z-index: 999;
    }

    #nav.show {
        width: 80%;
        height: 70%;

        position: absolute;

        margin-top: 550px;

        border-radius: 10px;

        display: block;
        z-index: 1000;

        background-color: white;
    }
    #nav.show ul{
        width: 100%;
        height: 95%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 40px;
    }
    #nav.show li {
        color: #283459;
        font-size: 1.5rem;
    }
    #btn-nav {
        display: none;
    }

    .banner-conteiner {
        width: 100%;
        height: 989px;
        
        flex-direction: column-reverse;
    }
    .banner-txt {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  }