@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: 0px;
}



/* FONTES */

@font-face {
    font-family: Roboto-Medium;
    src: url(/fonte/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(/fonte/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(/fonte/Roboto-Bold.ttf);
}

:root {
    --cor1: #f5f1ee;
    --cor2: #1e1f2a;
    --cor3: #f26641;
    --cor4: #d28164;
    --cor5: #74849c;
    --cor6: #283459;

    font-family: Roboto-Medium;
    font-family: Roboto-Light;
    font-family: Roboto-Bold;
}

/* MAIN */



body {
    width: 100%;
    height: 100%;
}

.btn {
    width: 160px;
    height: 50px;

    background-color: #f26641;

    border-radius: 40px;
    border: transparent;

    font-family: Roboto-Bold;
    font-size: 1rem;
    color: white;

    box-shadow: 0px 10px 6px #d281644b;

    cursor: pointer;
}


/* NAV */



nav {
    width: 100%;
    height: 130px;

    padding: 0px 60px;

    font-family: Roboto-Medium;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 180px;
}

nav ul {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

nav li {
    font-size: 1rem;
    color: #283459;
}

/* BANNER */



.banner-conteiner {
    width: 100%;
    height: 550px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 50px 80px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.banner-txt {
    width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 40px;
}
.banner-txt h1 {
    font-family: Roboto-Bold;
    font-size: 3.5rem;
    color: #283459;
}
.banner-txt p {
    font-family: Roboto-Medium;
    color: #BABBBF;
    line-height: 25px;
}

.banner-img img {
    width: 550px;
}



/* DESCRIPTION */



.description-conteiner {
    width: 100%;
    height: 550px;

    display: flex;
    justify-content: space-around;

    padding: 0px 80px;

    margin-bottom: 18px;
}

.description-txt {
    width: 500px;
    margin-left: 40px;
}
.description-txt h1 {
    font-family: Roboto-Bold;
    font-size: 2.5rem;
    color: #283459;
    margin-bottom: 30px;
}
.description-txt p {
    font-family: Roboto-Medium;
    color: #BABBBF;
    line-height: 25px;
    width: 300px;
}

.cards-conteiner {
    width: 550px;
}
.description-card {
    width: 600px;
    height: 200px;

    display: flex;
}
.description-card span {
    width: 60px;
    height: 30px;

    padding: 7px 13px;

    text-align: center;

    border-radius: 15px;

    margin-right: 20px;

    background-color: #f26641;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
.description-card h1 {
    font-family: Roboto-Bold;

    font-size: 1rem;

    color: #283459;
    
    margin-bottom: 30px;
}
.description-card p {
    width: 300px;

    font-family: Roboto-Medium;

    color: #BABBBF;

    line-height: 20px;
}



/* PLUBLIC COMENTS */



.public-conteiner {
    width: 100%;
    height: 550px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
#public-card-conteiner-logo {
    color: #283459;
    font-size: 2rem;
    margin: 70px 0px;
}
.public-card-conteiner {
    width: 100%;
    height: 300px;

    display: flex;
}

.public-card {
    width: 600px;
    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.public-card img {
    width: 60px;
}
.public-card h1 {
    font-family: Roboto-Bold;

    font-size: 1rem;

    color: #283459;

    margin: 20px 0px;
}
.public-card p {
    width: 300px;

    font-family: Roboto-Medium;

    color: #BABBBF;

    line-height: 20px;

    text-align: center;
}



